body {
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e5ec;
}
table{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    cursor: pointer;
    margin: 20px auto;
    border: 2px solid midnightblue;
}

thead{
    background-color: midnightblue;
    color: white;
    text-align: center;
}
th, td{
    padding: 1px 20px;
}

tbody, tr, td, th{
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #e7e7e7;
}

img{width: 75px;
}

.colg{
    text-align: right;
    font-weight: bold;
}
.cold{
    text-align: center;
}

.arrowinput{
    width: 10px;
}
.btninput{
    border: 1px solid #fff;
    background-color: white;
    cursor: pointer;
    transition: all 1s;
}
.btninput:hover{
    border: 1px solid black;
    transition: all 1s;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    border-radius: 100px;
}
.inputdiv{
    text-align: center;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
.hidden{
    display: none;
}

.inputdiv p{
    margin-top: 25px;
}
.inputdiv{
    background-color: #e0e5ec;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 30%;
    height: 180px;
    margin: 20px auto;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}
